@font-face {
	font-family: "KenneyHigh"; /*a name to be used later*/
	src: url("./kenney-high.ttf"); /*URL to font*/
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	touch-action: manipulation;
}

#captcha-container {
	position: relative;
	width: 390px;
	height: 300px;
	overflow: hidden;
	touch-action: manipulation;
	background: white;

	box-sizing: border-box;

	border: 0.4em solid black;

	font-family: "KenneyHigh", monospace;
}
