@font-face {
	font-family: "KenneyHigh"; /*a name to be used later*/
	src: url("../kenney-high.ttf"); /*URL to font*/
}

:root {
	--captcha-width: 390px;
	--captcha-height: 300px;
	--container-padding: 2px;
	--bottom-panel-height: 80px;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	touch-action: manipulation;
}

* {
	font-family: "KenneyHigh", monospace;
	font-size: 24px;
}

p {
	margin: 0;
}

.hide {
	display: none !important;
}

.panel {
	padding: var(--container-padding);

	border: 3px solid black;
	box-sizing: border-box;
	background-color: white;
}

.panel > button {
	background: none;
	border: none;
}

.buttons-panel > button:not([disabled]):hover {
	cursor: pointer;
}

.buttons-panel > button::before {
	content: ">";
	position: absolute;
	left: 8px;
	display: none;
}

.buttons-panel > button:not([disabled]):hover:before,
.buttons-panel > button:not([disabled]):focus::before {
	display: block;
}

#captcha-container {
	position: relative;
	width: var(--captcha-width);
	height: var(--captcha-height);
	overflow: hidden;
	touch-action: manipulation;
	background: white;
}

#dialog-container {
	position: absolute;
	left: var(--container-padding);
	bottom: var(--container-padding);

	width: calc(100% - 2 * var(--container-padding));
	height: var(--bottom-panel-height);
}

#dialog-text {
	width: 100%;
	height: 100%;
	padding: 6px;
}

#action-menu {
	position: absolute;
	right: var(--container-padding);
	bottom: var(--container-padding);

	width: 50%;
	height: var(--bottom-panel-height);

	display: flex;
	flex-flow: row wrap;
	gap: 2px;
}

#action-menu > button {
	position: relative;

	width: calc(50% - 1px);
	height: calc(50% - 1px);
}

#moves-panel {
	position: absolute;
	right: var(--container-padding);
	bottom: var(--container-padding);

	height: var(--bottom-panel-height);
	width: 60%;

	padding-left: 10px;

	display: flex;
	flex-flow: column nowrap;
}

#moves-panel > button {
	height: 25%;
	text-align: left;
}

#move-description {
	position: absolute;
	left: var(--container-padding);
	bottom: var(--bottom-panel-height);

	width: 50%;
	height: calc(var(--bottom-panel-height) - 10px);

	display: flex;
	flex-flow: column;
	justify-content: center;
}

#move-description > p {
	width: 100%;

	text-align: center;
}

.character-container {
	position: absolute;
	width: calc(100% - 2 * var(--container-padding));

	display: flex;
	flex-flow: row nowrap;
	gap: 0;
}

.character-info {
	width: 50%;

	padding-left: 70px;

	display: flex;
	flex-flow: column;

	align-items: start;
}

.character-info > p {
	text-align: center;
	width: 80px;
}

.character-image-container {
	width: 40%;

	display: flex;
	flex-flow: column;

	justify-content: end;
	align-items: start;
}

.character-image {
	width: 60px;
	height: 60px;
}

.character-health-container {
	display: flex;
	flex-flow: column nowrap;

	padding: 4px;

	border-left: 3px solid black;
	border-bottom: 3px solid black;
}

.character-health-container-inner {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 4px;
}

.character-health {
	min-width: 80px;
	height: 4px;

	border-radius: 4px;

	border: 2px solid black;

	display: flex;
	flex-flow: row;
}

.character-health-value {
	height: 100%;

	background-color: grey;
}

.character-health-value.v100 {
	width: 100%;
}

.character-health-value.v50 {
	width: 50%;
}

.character-health-value.v0 {
	width: 0%;
}

.character-health-text {
	text-align: center;
}

#bitcoin-container {
	left: var(--container-padding);
	top: var(--container-padding);
}

#character-container {
	right: var(--container-padding);
	bottom: calc(var(--bottom-panel-height) + 10px);
}

#character-container {
	flex-direction: row-reverse;
}

#character-container .character-info > p {
	margin-left: 25px;
}

#character-container .character-image-container {
	align-items: end;
}

#character-container .character-image-container > .character-image {
	margin-right: 15px;
}

#bogaball {
	position: absolute;
	opacity: 0;
	left: 100px;
	top: 110px;
	scale: 0.7;
}
