:root {
	--ball-throw-duration: 1s;
}

@keyframes bogaball-throw {
	0% {
		opacity: 0;
		left: 100px;
		top: 110px;
		scale: 0.7;
	}

	40% {
		opacity: 1;
		scale: 1;
	}

	80% {
		opacity: 1;
		left: 242px;
		top: 16px;
		scale: 0.35;
	}

	100% {
		opacity: 1;
		left: 242px;
		top: 40px;
		scale: 0.35;
	}
}

#bogaball.throw {
	animation: bogaball-throw var(--ball-throw-duration) forwards;
}

@keyframes bitcoin-image-throw {
	0% {
		opacity: 1;
		scale: 1;
	}

	40% {
		opacity: 1;
		scale: 1;
	}

	80%,
	100% {
		opacity: 0;
		scale: 0.35;
	}
}

#bitcoin-image.throw {
	animation: bitcoin-image-throw var(--ball-throw-duration) forwards;
}
